* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::selection {
        background-color: #69D471;
    }
}

body {
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    min-height: 100vh;
}

#header-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#header-container h1 {
    text-align: center;
    margin-top: 60px;
}

#perfil {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    background-color: #f47c98;
    border-radius: 50px;
    padding: 8px 16px;
    transition: .3s;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

#perfil h2 {
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

#perfil img {
    height: auto;
    width: 32px;
}

#navegador-container {
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
}

#navegador ul {
    display: flex;
    border-radius: 100px;
    padding: 20px 10px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
}

#navegador li {
    display: flex;
    padding: 0 6px;
    text-align: center;
}

#navegador li a {
    font-size: 24px;
    min-width: 150px;
    /* Ancho mínimo para evitar desplazamiento de texto */
    padding: 12px 16px;
    border-radius: 100px;
    color: #666666;
    background-color: #EAE6DC;
    text-decoration: none;

    &:hover {
        background-color: #333333;
        color: #ffffff;
        box-shadow: 0px 2px 6px rgb(0, 0, 0, 1);
        transition: .3s;
    }
}

#bloque > h2 {
    font-size: 40px;
    margin-top: 30px;
}

#bloque > h3 {
    font-size: 32px;
    margin-bottom: 40px;
}

h2, h3 {
    text-align: center;
    color: white;
}

h2, h3, input {
    font-family: "Amiri", serif;
    font-weight: 400;
    font-style: normal;
}

#bloque {
    background-color: #333333;
    height: 1057px;
    width: 100%;
}

form {
    font-family: "Amiri", serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    display: grid;
    /* Tres columnas */
    /* gap: 20px; */
    /* Espaciado entre elementos */
    padding: 20px;
    margin: auto auto;
    /* background-color: #333333; */
    align-items: center;
    align-content: center;
    font-size: 24px;
}

input {
    margin: 10px 10px;
    padding: 0px 16px;
    height: 80px;
    width: 450px;
    border: none;
    border-radius: 8px;
    background-color: #D9D9D9;
    font-size: 22px;
}

footer {
    background-color: #333333;
    color: white;
    padding: 10px 0;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: solid 1px gray;
    text-align: center;
}