body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-bottom: 20px;
}

form.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form.search-form input[type="search"] {
    font-size: 2em;
    padding: 10px;
    margin-right: 10px;
    width: 500px;
    border-radius: 25px;
    border: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

form.search-form input[type="search"]:focus {
    border-color: #007BFF;
}

form.search-form button {
    font-size: 2em;
    padding: 20px 30px;
    border-radius: 25px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

form.search-form button:hover {
    background-color: #0056b3;
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 170%;
    font-size: 1.2em;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-top: 20px;
}

.buttons-container form {
    margin-left: 10px;
}

.buttons-container input[type="submit"] {
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.buttons-container input[name="mostrarProductos"] {
    font-size: 1em; 
    padding: 8px 15px; 
    background-color: #6c757d; 
}

.buttons-container input[name="mostrarProductos"]:hover {
    background-color: #5a6268; 
}

.mensaje {
    color: green;
    font-size: 1.2em;
    margin-bottom: 20px;
}

table input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
    transition: border-color 0.3s;
}

table input[type="text"]:focus {
    border-color: #007BFF;
}

.edit-button-container {
    margin-left: 10px;
}

.edit-button-container input[type="submit"] {
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button-container input[type="submit"]:hover {
    background-color: #218838;
}