* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::selection {
        background-color: #69D471;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #DFDBD3;
}

#header-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#header-container h1 {
    text-align: center;
    margin-top: 60px;
}

#perfil {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    background-color: #f47c98;
    border-radius: 50px;
    padding: 8px 16px;
    transition: .3s;

    &:hover {
        background-color: #F25A7D;
        transform: scale(1.1);
        cursor: pointer;
    }
}

#perfil h2 {
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

#perfil img {
    height: auto;
    width: 32px;
}

#navegador-container {
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
}

#navegador ul {
    display: flex;
    border-radius: 100px;
    padding: 20px 10px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
}

#navegador li {
    display: flex;
    padding: 0 6px;
    text-align: center;
}

#navegador li a {
    font-size: 24px;
    min-width: 150px;
    /* Ancho mínimo para evitar desplazamiento de texto */
    padding: 12px 16px;
    border-radius: 100px;
    color: #666666;
    background-color: #eeeeee;
    text-decoration: none;

    &:hover {
        align-content: safe;
        background-color: #333333;
        color: #ffffff;
        box-shadow: 0px 2px 6px rgb(0, 0, 0, 1);
        transition: .3s;
    }
}

h3 {
    width: 230px;
    margin: 90px auto 0 auto;
    font-size: 30px;
    padding: 10px 15px;
    border-radius: 16px;
    background-color: #FA8900;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;
}

.container-food {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 350px;
    margin: 20px;
    border-radius: 15px;
    background-color: whitesmoke;
    /* align-items: center; */

}

button {
    border: none;
    transition: .3s;

    &:hover {
        transform: scale(1.2);
    }
}

.icons-top button[name="list"] {
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/products/Frame.png");
    top: 8px;
    left: 8px;
    height: 36px;
    width: 36px;
}

.icons-top button[name="favorite"] {
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/products/favorite.png");
    top: 8px;
    right: 8px;
    height: 36px;
    width: 36px;
}

.product-info button[name="like"] {
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/products/like.png");
    bottom: 175px;
    right: 8px;
    height: 36px;
    width: 36px;
}

/* .container-food input[type="image"] {
    max-width: 100%;
    height: auto;
    width: 32px;
    margin-bottom: 16px;
} */

.product-info {
    text-align: center;
    width: 100%;
}

.product-info p {
    margin-top: 12px;
    font-size: 26px;
    font-weight: bold;
}

/* .product-info input[type="image"] {
    position: absolute;
    bottom: 8px;
    right: 8px;
    height: auto;
    width: 32px;
    margin-bottom: 180px;
    
} */

.product-info button:last-child {
    width: 280px;
    background-color: #4CAF50;
    color: wheat;
    border: none;
    border-radius: 50px;
    padding: 15px 0px;
    margin: 20px 20px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: .3s;

    &:hover {
        background-color: #69D471;
    }
}

footer {
    background-color: #333333;
    color: white;
    padding: 10px 0;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: solid 1px gray;
    text-align: center;
}

@media (max-width: 760px) {

    h3 {
        width: fit-content;
        border-radius: 50px;
    }

    #navegador ul {
        border-radius: 26px;
        flex-direction: column; 
        align-items: center;
        padding: 10px;
    }

    #navegador li {
        width: 100%;
        padding: 4px 0;
    }

    #navegador li a {
        min-width: auto;
        width: 100%; 
        text-align: center;
    }
}